#!/bin/bash

SCRIPT_DIR="$(dirname "$0")"


mongosh mongodb://localhost:27017 <<'EOF'
use DBMingle
db.createCollection("ColFilms")
EOF


for json_file in "$SCRIPT_DIR"/DbRecords/*.json; do
    if [ -f "$json_file" ]; then 
        
        mongosh "mongodb://localhost:27017/DBMingle" --eval "db.ColFilms.insertOne($(cat "$json_file"))"
    fi
done