systemLog:
  destination: file
  path: /var/log/mongodb/mongod.log
  logAppend: true
  logRotate: reopen

storage:
  dbPath: /var/lib/mongodb
net:
  port: {{ mongos_port }}
  bindIp: {{ bind_ip }}

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

